POSTGRES_USER=postgres
POSTGRES_PASSWORD=passer123
POSTGRES_DB=badges_db

ENCRYPTION_KEY=q7Lk3k9Z0JmVw8xYpQ1rT2uIoP5sDfGhJkLzXcVbNmA=
AUTHORIZED_USERS_JSON=[{"username":"admin","password":"admin123"},{"username":"agent","password":"agent123"}]

PGADMIN_DEFAULT_EMAIL=admin@badge.com
PGADMIN_DEFAULT_PASSWORD=admin123
