POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=badges_db

ENCRYPTION_KEY=QkJocRJHm4xwGlTz2fcAfvcs-1J6hQL9D7k_RByuvR8=
AUTHORIZED_USERS_JSON=[{"username":"admin","password":"admin123"},{"username":"agent","password":"agent123"}]

PGADMIN_DEFAULT_EMAIL=admin@badge.com
PGADMIN_DEFAULT_PASSWORD=admin123
