APP_NAME=Badge Manager API
APP_ENV=development
DATABASE_URL=postgresql+psycopg2://postgres:passer123@localhost:5432/badges_db
ENCRYPTION_KEY=q7Lk3k9Z0JmVw8xYpQ1rT2uIoP5sDfGhJkLzXcVbNmA=
AUTHORIZED_USERS_JSON=[{"username":"admin","password":"admin123"},{"username":"agent","password":"agent123"}]
FRONTEND_URL=http://localhost:3000
FERNET_KEY=q7Lk3k9Z0JmVw8xYpQ1rT2uIoP5sDfGhJkLzXcVbNmA=